.app-container {
  margin: 80px;
}

.header-container {
  padding-bottom: 50px;
}

.search-bar {
  padding: 20px;
  margin-bottom: 1000px;
  height: 30px;
}

.add-doves {
  padding-top: 1000px;
  float: right;
}
